<h1 class="container text-white text-center bg-dark my-4 py-4">ngIf show={{ show }}</h1>
<div class="container">
  <button class="btn btn-warning mr-3" (click)="show = !show">Accion</button>

  <p class="text-info" *ngIf="show; else showDos">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem harum ducimuscommodi optio
    repellat? Laudantium at, facilis totam blanditiis odio ab assumenda cupiditate accusamus quos vitae iusto
    consequuntur laborum.
  </p>

  <ng-template #showDos>
    <p class="text-danger">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem harum ducimus commodi optio
      repellat? Laudantium at, facilis totam blanditiis odio ab assumenda cupiditate accusamus quos vitae iusto
      consequuntur laborum.
    </p>
  </ng-template>
</div>
